/* Start Global Rules */

:root {
    --main-color: #10cab7;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #10cab7d7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color);
}

/* End Global Rules */
/* Start Special Heading  */
.special-heading {
    font-weight: 800;
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    margin: 0;
    letter-spacing: -3px;
}

.special-heading+p {
    text-align: center;
    margin: -33px 0 0;
    color: #797b7d;
    font-size: 20px;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}

/* End Special Heading  */

/* Start Heading  */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 7px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 80%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links:hover ul {
    display: block;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding: 20px;
    color: #10cab7;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #10cab7;
}

/* End Heading  */
/* Start Landing Section  */
.landing {
    background-image: url(../imgs/landscape.jpg);
    background-size: cover;
    height: calc(100vh - 67px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* End Landing Section  */
/* Start Features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .container .feature {
    text-align: center;
    padding: 20px;
}

.features .container .feature i {
    color: var(--main-color);
}

.features .container .feature h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .container .feature p {
    line-height: 1.8;
    color: #9c7777;
    font-size: 17px;
}

/* End Features */
/* Start Services */

.services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services .services-content .serv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-content .serv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .serv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .serv .text {
    flex: 1;
}

.services .services-content .serv .text h3 {
    margin: 0 0 20px;
}

.services .services-content .serv .text p {
    color: #9c7777;
    line-height: 1.4;
    font-weight: 300;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: '';
    background-color: #2c4755;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

.services .services-content .image img {
    width: 260px;
}

@media (max-width: 1199px) {
    .services .services-content .image {
        display: none;
    }
}

/* End Services */
/* Start portfolio */
.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}


.portfolio .pf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.portfolio .pf img {
    max-width: 100%;
}

.portfolio .pf .text {
    background-color: white;
    margin-top: -23px;
    padding: 20px;
}

.portfolio .pf .text p {
    color: #9c7777;
    line-height: 1.6;
}

/* End portfolio */
/* Start About */
.about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about .abt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

@media (max-width: 991px) {
    .about .abt {
        flex-direction: column;
        text-align: center;
    }
}

.about .abt .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px) {
    .about .abt .image {
        margin: 0 auto 60px;
    }
}

.about .abt .image::before {
    content: '';
    background-color: #ebeced;
    width: 100px;
    position: absolute;
    top: -40px;
    left: -25px;
    height: calc(100% + 80px);
    z-index: -1;
}

.about .abt .image::after {
    content: '';
    position: absolute;
    width: 100px;
    top: -41px;
    right: -140px;
    height: 300px;
    border-left: 80px solid #10cab7;
    border-bottom: 80px solid #10cab7;
    z-index: -1;
}

@media (max-width: 991px) {

    .about .abt .image::before,
    .about .abt .image::after {
        display: none;
    }
}

.about .abt .image img {
    max-width: 100%;
}

.about .abt .text {
    flex-basis: calc(100% - 500px);
}

.about .abt .text p:first-of-type {
    font-weight: bold;
    line-height: 1.8;
    margin-bottom: 50px;
}

hr {
    width: 50%;
    display: inline-block;
    color: var(--main-color);
}

.about .abt .text p:last-of-type {
    color: #10cab7;
    line-height: 1.8;

}

/* End About */
/* Start Contact */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.contact .text {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.contact .label {
    color: #2c4755;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .link {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 800;
    font-size: 34px;
    display: block;
}

@media (max-width: 767px) {

    .contact .label,
    .contact .link {
        font-size: 25px;
    }
}

.contact .social {
    margin-top: 20px;
}

.contact .social i {
    color: #2c4755;
    margin-left: 1px;
    margin-right: 1px;
}

/* End Contact */
/* Start Footer */
footer {
    padding: 30px 10px;
    background-color: #2c4755;
    color: white;
    text-align: center;
    font-size: 18px;
}

footer span {
    color: var(--main-color);
}

/* End Footer */